# Redis queue
REDIS_URL=redis://redis:6379/0

# Choose one provider: openai, anthropic, or groq
MODEL_PROVIDER=groq

# OpenAI API key
OPENAI_API_KEY=your-openai-api-key

# Anthropic API key
ANTHROPIC_API_KEY=your-anthropic-api-key

# Groq API key
GROQ_API_KEY=your-groq-api-key
